<p id="notice"></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td>
        <a class="show_56043" href="/books/56043">Show</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_56043" rel="nofllow" data-method="delete" href="/books/56043">Destroy</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- form_with部分-->
<%= form_with model:@list do |f| %>

<div class="field">
  <label for="book_title">Title</label>
  <%= f.text_field:title %>
</div>

<div class="field">
  <label for="book_body">Body</label>
  <%= f.text_field:title %>
</div>

<%= f.submit'Create Book' %>

<% end %>